# Ignore virtual environments
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Terraform state and cache files
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# Ignore AWS credentials or config
*.pem
*.key
*.aws

# Ignore IDE and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore zip files and temporary files
*.zip
*.log

# Don’t ignore PDF or .py files
!*.pdf
!*.py
